@font-face {
  font-family: 'Epistemix Headline';
  src: url('fonts/EpistemixHeadline-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'Epistemix Text';
  src: url('fonts/EpistemixText-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'Epistemix Text';
  src: url('fonts/EpistemixText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'Epistemix Label';
  src: url('fonts/EpistemixLabel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: 'Epistemix Code';
  src: url('fonts/EpistemixCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
